/PressControl/bin/Debug

/PressControl/obj/Debug

/ToggleButton/bin/Debug

/ToggleButton/obj/Debug

/PlayButton/PlayButton/bin/Debug

/PlayButton/PlayButton/obj/Debug

/PlayButton/PlayButton/bin/Release

/PlayButton/PlayButton/obj/Release

/PressControl/bin/Release
/PressControl/obj/Release

/ToggleButton/bin/Release

/ToggleButton/obj/Release

/PressControl/PressControl.csproj.user

/PressControl/PressControl.v12.suo
